---
import Html from './Html.astro'
import Css from './Css.astro'
import Javascript from './Javascript.astro'
import Cpp from './Cpp.astro'
import Unity from './Unity.astro'
import Rust from './Rust.astro'
import Cs from './Cs.astro'
import As from './As.astro'
import Tailwind from './Tailwind.astro'
import Kotlin from './Kotlin.astro'
import Github from './Github.astro' 
import Apple from './Apple.astro'
import Git from './Git.astro'
import Photoshop from './Photoshop.astro'
import Vs from './Vs.astro'
import Obs from './Obs.astro'
---
<section class="flex flex-col items-center justify-center py-[350px]">
    <h3 class="text-6xl text-blue-500 font-black max-md:text-4xl">Conocimientos</h3>
    
    <div class="flex flex-auto justify-center bg-blue-700/25 rounded-xl border border-blue-500 backdrop:blur-xl w-[412px] h-[240px] py-3 object-cover shadow-2xl shadow-blue-500/50 max-md:w-[300px] transition-all hover:translate-y-2 ">
        <div class="grid grid-cols-4 gap-x-12 items-center justify-center">
        <Html class=" size-10"/>
        <Css class=" size-10" />
       <Unity class=" size-10" />
       <Rust class=" size-10" />
       <Javascript class="size-10 " />
       <Cs class="size-10" />
       <As class="size-10" />
       <Cpp class="size-10" />
       <Tailwind class="size-10" />
       <Kotlin class="size-8" />
       <Github class="size-10" />
       <Apple class="size-10" />
       <Git class="size-10" />
       <Photoshop class="size-10" />
       <Vs class="size-10" />
       <Obs class="size-10" />
        </div>

     
        </div>
    </div>
</section>