
<div class="rb"></div>

<div class="animate-fade-down animate-once animate-ease-in animate-alternate">
    <h2 class="text-white font-black text-8xl text-center items-center mt-[150px] max-sm:text-7xl"> Hey, I'm <strong class="text-blue-700">DiegoDev</strong></h2>
    <p class="text-white font-extralight text-center leading-7"><strong class=" font-black text-gray-500">Web Developer, Game Developer.</strong></p>
<div>





<style>
    .rb {
    position: absolute;
    width: 70%;
    height: 0%;
    left: 15%;
    top: 60%;
    box-shadow: rgba(52, 154, 255, 0.1) 0px 0px 150px 100px;
    border-radius: 100px;
    }


</style>